<mat-card-title>Log In</mat-card-title> <br>
<mat-card-content>
    <form method="post" [formGroup]="signInForm" (ngSubmit)="signIn()">
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                formControlName="email">
        </div>
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" formControlName="password">
        </div>
        <button type="submit" mat-raised-button color="primary">Log In</button>
    </form>

    
</mat-card-content>