.vl {
  border-left: 1px solid rgba(14, 14, 14, 0.208);
  height: 500px;
  margin: 0;
}
// div {
//   border: 1px solid red;
// }

.container {
  padding-top: 70px;
  width: 800px;
  .form{
      width: 300px;
  }
}
